<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.workhiveback.mappers.ChatMessageMapper">

    <insert id="insert"
            parameterType="com.dev.workhiveback.entities.ChatMessageEntity"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index">
        INSERT INTO `wh`.`chat_messages`
            (`room_index`, `sender`, `message`, `created_at`)
        VALUES
            (#{roomIndex},
             #{sender},
             #{message},
             #{createdAt})
    </insert>

    <select id="selectDtoByIndex" resultType="com.dev.workhiveback.dtos.chat.ChatMessageDto">
        SELECT `m`.`index`        AS `index`,
               `m`.`room_index`   AS `roomIndex`,
               `m`.`message`      AS `message`,
               `m`.`created_at`   AS `createdAt`,
               `u`.`emp_id`       AS `senderEmpId`,
               `u`.`name`         AS `senderName`,
               `t`.`display_text` AS `senderTeamName`,
               `r`.`display_text` AS `senderRoleName`,
               `u`.`image_url`    AS `senderImageUrl`
        FROM `wh`.`chat_messages` `m`
                 LEFT JOIN `wh`.`users` `u` ON `m`.`sender` = `u`.`emp_id`
                 LEFT JOIN `wh`.`teams` `t` ON `u`.`team_code` = `t`.`code`
                 LEFT JOIN `wh`.`roles` `r` ON `u`.`role_code` = `r`.`code`
        WHERE `m`.`index` = #{index}
    </select>

    <select id="selectByRoomIndex" resultType="com.dev.workhiveback.dtos.chat.ChatMessageDto">
        SELECT `m`.`index`      AS `index`,
               `m`.room_index   AS `roomIndex`,
               `m`.message      AS `message`,
               `m`.created_at   AS `createdAt`,
               `u`.emp_id       AS `senderEmpId`,
               `u`.name         AS `senderName`,
               `t`.display_text AS `senderTeamName`,
               `r`.display_text AS `senderRoleName`,
               `u`.image_url    AS `senderImageUrl`
        FROM `wh`.`chat_messages` `m`
                 LEFT JOIN `wh`.`users` `u` ON `m`.`sender` = `u`.`emp_id`
                 LEFT JOIN `wh`.`teams` `t` ON `u`.`team_code` = `t`.`code`
                 LEFT JOIN `wh`.`roles` `r` ON `u`.`role_code` = `r`.`code`
        WHERE `m`.`room_index` = #{roomIndex}
        <if test="beforeIndex != null">
            AND `m`.`index` &lt; #{beforeIndex}
        </if>
        ORDER BY `m`.`index` DESC
        LIMIT #{limit}
    </select>
</mapper>