<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.workhiveback.mappers.LeaveMapper">
    <select id="selectCalendarData" resultType="com.dev.workhiveback.dtos.leave.CalendarDto">
        SELECT `o`.`index`        AS `index`,
               `u1`.`name`        AS `name`,
               `t`.`display_text` AS `typeText`,
               `o`.`start_date`   AS `startDate`,
               `o`.`end_date`     AS `endDate`,
               'dayOffs'          AS `calendarType`
        FROM `wh`.`day_offs` AS `o`
                 LEFT JOIN `wh`.`day_offs_states` AS `s` ON `o`.`state` = `s`.`code`
                 LEFT JOIN `wh`.`day_offs_types` AS `t` ON `o`.`type` = `t`.`code`
                 LEFT JOIN `wh`.`users` AS `u1` ON `o`.`requester_id` = `u1`.`emp_id`
        <where>
            `s`.`code` = 3
            <if test="filter == 'team'">
                AND `u1`.`team_code` = #{teamCode}
            </if>
            <if test="filter == 'personal'">
                AND `o`.`requester_id` = #{empId}
            </if>
        </where>
    </select>

    <select id="selectLeaveList" resultType="com.dev.workhiveback.dtos.leave.LeaveListDto">
        SELECT `o`.`index`        AS `index`,
               `u1`.`team_code`   AS `teamCode`,
               `u1`.`role_code`   AS `roleCode`,
               `o`.`requester_id` AS `requesterId`,
               `u1`.`name`        AS `requesterName`,
               `o`.`approver_id`  AS `approverId`,
               `u2`.`name`        AS `approverName`,
               `s`.`display_text` AS `stateText`,
               `t`.`display_text` AS `typeText`,
               `o`.`reason`       AS `reason`,
               `o`.`request_date` AS `requestDate`,
               `o`.`approve_date` AS `approveDate`,
               `o`.`start_date`   AS `startDate`,
               `o`.`end_date`     AS `endDate`,
               'dayOffs'          AS `calendarType`
        FROM `wh`.`day_offs` AS `o`
                 LEFT JOIN `wh`.`day_offs_states` AS `s` ON `o`.`state` = `s`.`code`
                 LEFT JOIN `wh`.`day_offs_types` AS `t` ON `o`.`type` = `t`.`code`
                 LEFT JOIN `wh`.`users` AS `u1` ON `o`.`requester_id` = `u1`.`emp_id`
                 LEFT JOIN `wh`.`users` AS `u2` ON `o`.`approver_id` = `u2`.`emp_id`
        ORDER BY `index` DESC
    </select>

    <select id="selectLeaveListByTab" resultType="com.dev.workhiveback.dtos.leave.LeaveListDto">
        SELECT `o`.`index`        AS `index`,
               `u1`.`team_code`   AS `teamCode`,
               `u1`.`role_code`   AS `roleCode`,
               `o`.`requester_id` AS `requesterId`,
               `u1`.`name`        AS `requesterName`,
               `o`.`approver_id`  AS `approverId`,
               `u2`.`name`        AS `approverName`,
               `s`.`display_text` AS `stateText`,
               `t`.`display_text` AS `typeText`,
               `o`.`reason`       AS `reason`,
               `o`.`request_date` AS `requestDate`,
               `o`.`approve_date` AS `approveDate`,
               `o`.`start_date`   AS `startDate`,
               `o`.`end_date`     AS `endDate`,
               'dayOffs'          AS `calendarType`
        FROM `wh`.`day_offs` AS `o`
                 LEFT JOIN `wh`.`day_offs_states` AS `s` ON `o`.`state` = `s`.`code`
                 LEFT JOIN `wh`.`day_offs_types` AS `t` ON `o`.`type` = `t`.`code`
                 LEFT JOIN `wh`.`users` AS `u1` ON `o`.`requester_id` = `u1`.`emp_id`
                 LEFT JOIN `wh`.`users` AS `u2` ON `o`.`approver_id` = `u2`.`emp_id`
        <where>
            <if test="tab == 'personal'">
                `o`.`requester_id` = #{empId}
            </if>
            <if test="tab == 'received'">
                `o`.`approver_id` = #{empId}
            </if>
            <if test="tab == 'all'">
                `u1`.`team_code` = #{teamCode}
            </if>
        </where>
        ORDER BY `index` DESC
    </select>

    <select id="selectLeaveByIndex" resultType="com.dev.workhiveback.dtos.leave.LeaveListDto">
        SELECT `o`.`index`        AS `index`,
               `u1`.`team_code`   AS `teamCode`,
               `u1`.`role_code`   AS `roleCode`,
               `o`.`requester_id` AS `requesterId`,
               `u1`.`name`        AS `requesterName`,
               `o`.`approver_id`  AS `approverId`,
               `u2`.`name`        AS `approverName`,
               `s`.`display_text` AS `stateText`,
               `t`.`display_text` AS `typeText`,
               `o`.`reason`       AS `reason`,
               `o`.`request_date` AS `requestDate`,
               `o`.`approve_date` AS `approveDate`,
               `o`.`start_date`   AS `startDate`,
               `o`.`end_date`     AS `endDate`,
               'dayOffs'          AS `calendarType`
        FROM `wh`.`day_offs` AS `o`
                 LEFT JOIN `wh`.`day_offs_states` AS `s` ON `o`.`state` = `s`.`code`
                 LEFT JOIN `wh`.`day_offs_types` AS `t` ON `o`.`type` = `t`.`code`
                 LEFT JOIN `wh`.`users` AS `u1` ON `o`.`requester_id` = `u1`.`emp_id`
                 LEFT JOIN `wh`.`users` AS `u2` ON `o`.`approver_id` = `u2`.`emp_id`
        WHERE `o`.`index` = #{index}
    </select>

    <update id="updateLeaveState">
        UPDATE `wh`.`day_offs`
        SET `state` = #{state},
            `approve_date` = #{approveDate}
        WHERE `index` = #{index}
    </update>

    <insert id="insertLeave">
        INSERT INTO `wh`.`day_offs` (`requester_id`, `approver_id`, `state`, `type`, `reason`, `request_date`, `approve_date`,
                                     `start_date`, `end_date`)
        VALUES (#{leave.requesterId}, #{leave.approverId}, #{leave.state}, #{leave.type}, #{leave.reason}, #{leave.requestDate},
                #{leave.approveDate}, #{leave.startDate}, #{leave.endDate})
    </insert>
</mapper>