<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.workhiveback.mappers.UserMapper">
    <insert id="register"
            parameterType="com.dev.workhiveback.entities.UserEntity"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index">

        INSERT INTO `wh`.`users`
        (`emp_id`, `user_state`, `name`, `phone_number`, `birth`, `start_date`, `email`,
         `password`, `total_day_offs`, `remaining_day_offs`)
        VALUES (#{emp_id},
                #{user_state},
                #{name},
                #{phoneNumber},
                #{birth},
                #{start_date},
                #{email},
                #{password},
                #{total_day_offs},
                #{remaining_day_offs});
    </insert>
    <select id="selectById" resultType="com.dev.workhiveback.dtos.UserDto">
        select `emp_id` as 'empId',
               `password`,
               `team_code` as 'teamCode',
               `role_code` as 'roleCode',
               `name`,
               `phone_number` as 'phoneNumber',
               `birth`,
               `start_date` as 'startDate',
               `total_day_offs` as 'totalDayOffs',
               `remaining_day_offs` as 'remainingDayOffs'
        from `wh`.`users`
        where `emp_id`=#{empId};
    </select>
    <select id="selectByEmpId" resultType="com.dev.workhiveback.entities.UserEntity">
        select `index`,
               `emp_id` as 'empId',
               `team_code` as 'teamCode',
               `role_code` as 'roleCode',
               `user_state` as 'userState',
               `name`,
               `phone_number` as 'phoneNumber',
               `birth`,
               `start_date` as 'startDate',
               `email`,
               `password`,
               `total_day_offs` as 'totalDayOffs',
               `remaining_day_offs` as 'remainingDayOffs'
        from `wh`.users
        where `emp_id` = #{empId};

    </select>

    <select id="searchWithFilter" resultType="com.dev.workhiveback.dtos.user.UserSearchDto">
        SELECT `u`.`index` AS 'index',
               `u`.`emp_id` AS 'empId',
               `u`.`name` AS 'name',
               `t`.`display_text` AS 'teamName',
               `r`.`display_text` AS 'roleName',
               `u`.`email` AS 'email',
               `s`.`display_text` AS 'userStateName'
        FROM `wh`.`users` AS `u`
        LEFT JOIN `wh`.`teams` AS `t` ON `u`.`team_code` = `t`.`code`
        LEFT JOIN `wh`.`roles` AS `r` ON `u`.`role_code` = `r`.`code`
        LEFT JOIN `wh`.`user_states` AS `s` ON `u`.`user_state` = `s`.`code`
        <where>
            <if test="name != null and name != ''">
                AND u.name LIKE CONCAT('%', #{name}, '%')
            </if>

            <if test="teamCode != 0">
                AND u.team_code = #{teamCode}
            </if>

            <if test="userState != 0">
                AND u.user_state = #{userState}
            </if>
        </where>
    </select>

    <select id="selectTeamCodes" resultType="com.dev.workhiveback.entities.CodeEntity">
        SELECT `code`        as 'code',
               `display_text` as 'displayText'
        FROM `wh`.`teams`
    </select>

    <select id="selectUserStateCodes" resultType="com.dev.workhiveback.entities.CodeEntity">
        SELECT `code`        as 'code',
               `display_text` as 'displayText'
        FROM `wh`.`user_states`
    </select>

</mapper>